---
import langs from "../../../../lang/langs";
import SelectLanguage from "../../client/selectLanguage/selectLanguage.svelte";

interface Props {
    lang: string;
}

let { lang } = Astro.props;
---

<div
    class="bg-darker h-20 md:px-12 ps-2 pe-4 flex justify-between items-center border-b border-light"
>
    <a href={`/${lang}`} class="h-full flex justify-center items-center">
        <img src="/icon.png" class="h-full" alt="" />
        <h1 class="text-light text-3xl font-yeon">Tao Mod Manager</h1>
    </a>
    <SelectLanguage
        langsObject={langs}
        selected={lang}
        client:load
    />
</div>
