---
import langs from "../../../lang/langs";
import SelectLanguage from "../selectLanguage/selectLanguage.svelte";

let { lang } = Astro.params;

if (!lang) lang = 'en';
---

<div class="bg-dark h-20 px-12 flex justify-between items-center">
    <div class="h-full flex justify-center items-center">
        <img src="/icon.png" class="h-full" alt="" />
        <h1 class="text-light text-3xl font-yeon">Tao Mod Manager</h1>
    </div>
    <SelectLanguage langsObject={langs} selected={lang} client:load />
</div>
